@media screen and (max-width: 450px) {
  .links {
    display: flex;
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  width: 100vmax;
  border-bottom: solid 3px #333333;
}

.titulo {
  height: 4vh;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: #243757;
}

.imagemPrincipal {
  background-image: url("./imagem/Fundo1.jpg");
  width: 100vmax;
  min-height: 50vh;
  object-fit: cover;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffea;
  font-size: 25px;
  justify-content: center;
}

.title-image {
  font-size: 45px;
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #333333;
}

.text-image {
  font-size: 30px;
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #333333;
}

.buttons {
  display: flex;
  width: 100vmax;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.buttons button {
  width: 25px;
  height: 15px;
  margin: 1px;
  border: 0px;
  border-radius: 30%;
  background-color: #333333;
  opacity: 50%;
}

.buttons button:hover {
  opacity: 90%;
}

.slogan {
  display: flex;
  width: 100vmax;
  height: 37px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #d0e0eb;
}

.slogan span {
  opacity: 100%;
}

.container {
  margin-top: -5px;
  display: flex;
  width: 100vmax;
  height: 500px;
  flex-direction: column;
  align-items: center;
}

.linha {
  margin-top: 10px;
  height: 1.7px;
  width: 500px;
  align-self: center;
  background-color: black;
  border: none;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100vmax;
  justify-content: center;
}

i {
  padding-top: 10px;
  font-size: 35px;
  color: #243757;
}

.iStar {
  font-size: 22px;
}

.cardInfo {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.footer {
  padding-bottom: 100px;
  display: flex;
  height: 100vmax;
  width: 100vmax;
  justify-content: center;
  background-color: snow;
  color: #243757;
  font-size: 30px;
  border-top: solid 3px #243757;
}
